/* 
** カードのスタイル
*/

form.card{
    width: 220;
    height: 215;
    margin: 10;
    padding: 10 15 10 15;
    background-color: #ff7;
}

form.card div{
    margin: 0;
    padding: 0;
    vertical-align: top;
}

form.card p{
    margin: 0;
    padding: 0;
}

form.card input{
    width: 100%;
    margin: 0 0 2 0;
    padding: 0 2 0 0;
    font-size: 14;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form.card input:focus{
    border-color: orange;
    outline: 0;
}

form.card div.left_block{
    /*background-color: #CCC;*/
    display: inline-block;
    width: 130;
    height: 100%;
    margin-right: 2;
}

    form.card div.left_block input.weapon_name{
        margin: 0 0 2 0;
        text-align: left;
        font-size: 12;
        height: 25;
    }

    form.card div.left_block select.weapon_types{
        margin-top: 2;
        margin-bottom: 2;
        height: 20;
    }

    form.card div.left_block label{
        /*background-color: #fff;*/
        display: block;
        font-size: 13;
        text-align: left;
        height: 20;
        margin-top: 2;
        border-bottom: 1px dashed turquoise;
        border-left: 5px solid turquoise;
    }

    form.card div.left_block output{
        /* background-color: #ccc; */
        display: block;
        text-align: right;
        height: 30;
        font-size: 23;
        padding-right: 10; 
        /*border-bottom: 1px solid #ccc;*/
    }

    form.card div.left_block label.sum_dmg_label{
        height: 22;
        font-size: 15;
    }

    form.card div.left_block output.sum_dmg{
        font-size: 25;
        height: 35;
    }
    

form.card div.input_block{
    /*background-color: #CCC;*/
    display: inline-block;
    width: 78;
    margin-left: 2;
    padding-left: 2;
    vertical-align: left;
}

form.card div.input_block label{
    font-size: 10;
}
/*
** 斬れ味ドロップダウンメニュー
*/

form.card p.sharpness{
    margin: 0 -2 2 0;
    width: 100%;
    height: 19;
}

form.card ul.sharpness_menu{
    display: inline-block;
    list-style-type: none;
    width: 73%;
    height: 17;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    border: 1px solid #ccc;
    border-right:none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

form.card ul.sharpness_menu li{
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 17;
    display: block;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

form.card ul.child{
    display: none;
    position: absolute;
    width: 100%;
    height: 17;
    margin: 0;
    padding: 0;
}

/* ドロップダウンメニュー用のトリガー */
form.card .trigger_panel{
    position: relative;
    display: inline-block;
    width: 24%;
    height: 17;
    margin: 0 0 0 0;
    background-color: #666;
    border: 1px solid #ccc;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

form.card .trigger_panel:hover{
    background-color: #333;
}

form.card .trigger{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 0 0 -6;
}


form.card .trigger:before, 
          .trigger:after{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
    transition: .3s;
}

form.card .trigger:before{
    left: 3;
    width: 4;
    height: 4;
    border-right: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    transform: rotate(45deg);
}

/* トリガーの回転 */
form.card .trigger_panel .close:before{
    transform: rotate(225deg);
}
