/* 共通の設定 *****************************/
*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: blue;
}

a:hover{
    color: orange;
}


/* ヘッダー ******************************/
h1{
}

/* カード ******************************/
.cards{
    font-size: 0px;
}

.card{
    display: inline-grid;
    width: 300px;
    height: auto;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    font-size: 14px;
    text-align: left;
    vertical-align: top;
    background: yellow;
}

.card time{
    /*height: 15px;*/
    color: gray;
}

.tags{
    font-size: 10px;
    bottom: 0px;
}

.tags li{
    display: inline-block;
}

/* .simのスタイル *************************************/
.sim label{
    display: block;
}



/* .inputセクションのスタイル **************************/
.input{
    /*background-color: #CCC;*/
    width: 130;
    margin-right: 2;
    vertical-align: left;
}

.input input{
    display: block;
    font-size: 14;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input input:focus{
    border-color: orange;
    outline: 0;
}

.input input.weapon_name{
    text-align: left;
    padding-left: 5px;
} 

/* .resultセクションのスタイル **************************/
.result label{
    /*background-color: #fff;*/
    display: block;
    font-size: 13;
    text-align: left;
    height: 20;
    margin-top: 10px;
    border-bottom: 1px dashed turquoise;
    border-left: 5px solid turquoise;
}

    .result output{
        /* background-color: #ccc; */
        display: block;
        text-align: right;
        height: 30;
        font-size: 23;
        padding-right: 10; 
        /*border-bottom: 1px solid #ccc;*/
    }

    .result label.sum_dmg_label{
        height: 22;
        font-size: 15;
    }

    .result output.sum_dmg{
        font-size: 25;
        height: 35;
    }