/* 共通の設定 *****************************/
*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

main{
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: blue;
}

a:hover{
    color: orange;
}


/* ヘッダー ******************************/
h1{
}

/* カード ******************************/
.cards{
    font-size: 0px;
}

.card{
    display: inline-grid;
    width: 300px;
    height: auto;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    font-size: 14px;
    text-align: left;
    vertical-align: top;
    background: yellow;
}

.card time{
    /*height: 15px;*/
    color: gray;
}

.tags{
    font-size: 10px;
    bottom: 0px;
}

.tags li{
    display: inline-block;
}

/* .simのスタイル *************************************/
.sim div{
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.sim p{
    margin: 0;
    padding: 0;
}

.sim input{
    width: 100%;
    margin: 0 0 2 0;
    padding: 0 2 0 0;
    font-size: 14;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sim input:focus{
    border-color: orange;
    outline: 0;
}

.sim div.left_block{
    /*background-color: #CCC;*/
    display: inline-block;
    width: 130;
    height: 100%;
    margin-right: 2;
}

    .sim div.left_block input.weapon_name{
        margin: 0 0 2 0;
        text-align: left;
        font-size: 12;
        height: 25;
    }

    .sim div.left_block select.weapon_types{
        margin-top: 2;
        margin-bottom: 2;
        height: 20;
    }

    .sim div.left_block label{
        /*background-color: #fff;*/
        display: block;
        font-size: 13;
        text-align: left;
        height: 20;
        margin-top: 2;
        border-bottom: 1px dashed turquoise;
        border-left: 5px solid turquoise;
    }

    .sim div.left_block output{
        /* background-color: #ccc; */
        display: block;
        text-align: right;
        height: 30;
        font-size: 23;
        padding-right: 10; 
        /*border-bottom: 1px solid #ccc;*/
    }

    .sim div.left_block label.sum_dmg_label{
        height: 22;
        font-size: 15;
    }

    .sim div.left_block output.sum_dmg{
        font-size: 25;
        height: 35;
    }
    

.sim div.input_block{
    /*background-color: #CCC;*/
    display: inline-block;
    width: 78;
    margin-left: 2;
    padding-left: 2;
    vertical-align: left;
}

.sim div.input_block label{
    display: block;
    font-size: 10;
}

