/* 共通の設定 *****************************/
*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

main{
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: blue;
}

a:hover{
    color: orange;
}


/* ヘッダー ******************************/
h1{
}

/* メニュー ******************************/
nav.menu{
    text-align: right;
    font-size: 0;
}

nav.menu li{
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
}

nav.menu li a{
    padding: 5px 10px;
    border-bottom: 2px solid #500E17;
    
    font-size: 15px;
    color: #fff;
    display: block;
    background: #5F7EB2;
}

nav.menu li a:hover{
    border-bottom: 2px solid #D04255;
}

/* カード ******************************/
ul.cards{
    font-size: 0px;
}

ul.cards li.card{
    display: inline-grid;
    width: 300px;
    height: auto;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    font-size: 14px;
    text-align: left;
    vertical-align: top;
    background: yellow;
}

li.card time{
    /*height: 15px;*/
    color: gray;
}

ul.tags{
    font-size: 10px;
    bottom: 0px;
}

ul.tags li{
    display: inline-block;
}

/* .simのスタイル *************************************/

.sim{
    width: 220;
    height: 215;
    margin: 10;
    padding: 10 15 10 15;
    background-color: #ff7;
}

.sim div{
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.sim p{
    margin: 0;
    padding: 0;
}

.sim input{
    width: 100%;
    margin: 0 0 2 0;
    padding: 0 2 0 0;
    font-size: 14;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sim input:focus{
    border-color: orange;
    outline: 0;
}

.sim div.left_block{
    /*background-color: #CCC;*/
    display: inline-block;
    width: 130;
    height: 100%;
    margin-right: 2;
}

    .sim div.left_block input.weapon_name{
        margin: 0 0 2 0;
        text-align: left;
        font-size: 12;
        height: 25;
    }

    .sim div.left_block select.weapon_types{
        margin-top: 2;
        margin-bottom: 2;
        height: 20;
    }

    .sim div.left_block label{
        /*background-color: #fff;*/
        display: block;
        font-size: 13;
        text-align: left;
        height: 20;
        margin-top: 2;
        border-bottom: 1px dashed turquoise;
        border-left: 5px solid turquoise;
    }

    .sim div.left_block output{
        /* background-color: #ccc; */
        display: block;
        text-align: right;
        height: 30;
        font-size: 23;
        padding-right: 10; 
        /*border-bottom: 1px solid #ccc;*/
    }

    .sim div.left_block label.sum_dmg_label{
        height: 22;
        font-size: 15;
    }

    .sim div.left_block output.sum_dmg{
        font-size: 25;
        height: 35;
    }
    

.sim div.input_block{
    /*background-color: #CCC;*/
    display: inline-block;
    width: 78;
    margin-left: 2;
    padding-left: 2;
    vertical-align: left;
}

.sim div.input_block label{
    font-size: 10;
}
/*
** 斬れ味ドロップダウンメニュー
*/

.sim p.sharpness{
    margin: 0 -2 2 0;
    width: 100%;
    height: 19;
}

.sim ul.sharpness_menu{
    display: inline-block;
    list-style-type: none;
    width: 73%;
    height: 17;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    border: 1px solid #ccc;
    border-right:none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.sim ul.sharpness_menu li{
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 17;
    display: block;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.sim ul.child{
    display: none;
    position: absolute;
    width: 100%;
    height: 17;
    margin: 0;
    padding: 0;
}

/* ドロップダウンメニュー用のトリガー */
.sim .trigger_panel{
    position: relative;
    display: inline-block;
    width: 24%;
    height: 17;
    margin: 0 0 0 0;
    background-color: #666;
    border: 1px solid #ccc;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sim .trigger_panel:hover{
    background-color: #333;
}

.sim .trigger{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 0 0 -6;
}


.sim .trigger:before, 
          .trigger:after{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
    transition: .3s;
}

.sim .trigger:before{
    left: 3;
    width: 4;
    height: 4;
    border-right: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    transform: rotate(45deg);
}

/* トリガーの回転 */
.sim .trigger_panel .close:before{
    transform: rotate(225deg);
}
